@charset "utf-8";

main{
  width: 240px;
  margin: 32px auto;
}

.omikuji_show {
  border-style: double;
  border-color: #c5000c;
  border-width: 8px;
  margin: auto;
}

h1{
  margin: 0;
  border-bottom: 3px solid;
  color: #c5000c;
  text-align: center;
  font-weight: normal;
  padding: 8px 0;
}

p{
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: #c5000c;
  padding: 24px 0;
}

button{
  all: unset;
  width: 220px; 
  text-align: center;
  color: #fff;
  background-color: red;
  border-radius: 8px;
  margin: 16px auto;
  padding: 12px;
  cursor: pointer;
  box-shadow: 0 4px #7a0000;
}

button:hover{
  opacity: .8;
}

button:active{
  box-shadow: 0 1px #7a0000;
  transform: translateY(3px);
}